* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
    background-color: rgb(18, 122, 18);
}

.gamer1,
.gamer2 {
    display: flex;
}

.a1,
.b1 {
    width: 100px;
    height: 200px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('./cards/back.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 150px;
    border: 2px solid black;
    font-size: 40px;
    text-align: center;
    font-weight: 500;
    cursor: pointer;
    border-radius: 10px;
}

.a1:hover,
.b1:hover {
    box-shadow: 12px 12px 15px 15px rgb(4, 65, 4);
    transform: scale(1.2);
    transition: 0.8s;
}

.box {
    width: 150px;
    height: 200px;
    margin: 20px;
    align-items: center;
    border: 2px solid black;
    font-size: 40px;
    text-align: center;
    font-weight: 500;
    border-radius: 10px;
}

#result {
    width: 360px;
    height: 40px;
    font-size: 24px;
    background-color: rgb(18, 122, 18);
    border: 2px solid black;
    border-radius: 10px;
    margin-top: 10px;
    text-align: center;
}

.btn,
.btn1 {
    width: 100%;
    height: 20%;
    cursor: pointer;
    background-color: red;
    border-radius: 10px;
    font-size: 24px;
}

.btn:hover,
.btn1:hover {
    background-color: rgb(122, 11, 11);
}

#count {
    width: 360px;
    border: 2px solid black;
    margin-top: 2px;
    border-radius: 10px;
    text-align: center;
}

#c1,
#c2,
.span {
    font-size: 24px;
    font-weight: 700;
}

.buttons {
    width: 360px;
    display: flex;
}

.reset,
.again {
    width: 50%;
    height: 40px;
    border: 2px solid black;
    background-color: rgb(18, 122, 18);
    cursor: pointer;
    font-size: 24px;
    border-radius: 10px;
}

.reset:hover,
.again:hover {
    background-color: red;
}

hr {
    border: 1px solid black;
}

