* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
    background-color: rgb(18, 122, 18);
}

.gamer1,
.gamer2 {
    display: flex;
}

.a1,
.b1 {
    width: 100px;
    height: 200px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('./cards/back.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 150px;
    border: 2px solid black;
    font-size: 40px;
    text-align: center;
    font-weight: 500;
    cursor: pointer;
    border-radius: 10px;
}

.a1:hover,
.b1:hover {
    box-shadow: 12px 12px 15px 15px rgb(4, 65, 4);
    transform: scale(1.2);
    transition: 0.8s;
}

.box {
    width: 150px;
    height: 200px;
    margin: 20px;
    align-items: center;
    border: 2px solid black;
    font-size: 40px;
    text-align: center;
    font-weight: 500;
    border-radius: 10px;
}

#result {
    width: 360px;
    height: 40px;
    font-size: 24px;
    background-color: rgb(18, 122, 18);
    border: 2px solid black;
    border-radius: 10px;
    margin-top: 10px;
    text-align: center;
}

.btn,
.btn1 {
    width: 100%;
    height: 20%;
    cursor: pointer;
    background-color: red;
    border-radius: 10px;
    font-size: 24px;
}

.btn:hover,
.btn1:hover {
    background-color: rgb(122, 11, 11);
}

#count {
    width: 360px;
    border: 2px solid black;
    margin-top: 2px;
    border-radius: 10px;
    text-align: center;
}

#c1,
#c2,
.span {
    font-size: 24px;
    font-weight: 700;
}

.buttons {
    width: 360px;
    display: flex;
}

.reset,
.again {
    width: 50%;
    height: 40px;
    border: 2px solid black;
    background-color: rgb(18, 122, 18);
    cursor: pointer;
    font-size: 24px;
    border-radius: 10px;
}

.reset:hover,
.again:hover {
    background-color: red;
}

hr {
    border: 1px solid black;
}

@media (max-height: 412px) and (orientation: landscape) {

    .main {
        justify-content: space-around;
        padding: 8px;
        gap: 8px;
    }

    .gamer1,
    .gamer2 {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        flex-shrink: 0;
    }

    .a1,
    .b1 {
        width: 55px;
        height: 85px;
        margin: 3px;
        padding: 0;
        font-size: 18px;
        background-size: 65px;
        border: 1px solid black;
    }

    .a1:hover,
    .b1:hover {
        box-shadow: 4px 4px 6px 6px rgb(4, 65, 4);
        transform: scale(1.08);
        transition: 0.6s;
    }

    .box {
        width: 100px;
        height: 85px;
        margin: 3px;
        padding: 0;
        font-size: 15px;
        border: 1px solid black;
    }

    #result {
        width: 250px;
        height: 30px;
        font-size: 14px;
        margin-top: 3px;
        padding: 3px;
        border: 1px solid black;
    }

    #count {
        width: 250px;
        height: 40px;
        margin-top: 2px;
        font-size: 12px;
        border: 1px solid black;
        padding: 2px;
    }

    #c1,
    #c2,
    .span {
        font-size: 13px;
        font-weight: 600;
    }

    .buttons {
        width: 250px;
        gap: 3px;
        flex-shrink: 0;
    }

    .reset,
    .again {
        width: 50%;
        height: 32px;
        font-size: 13px;
        border: 1px solid black;
        padding: 0;
    }

    .btn,
    .btn1 {
        width: 100%;
        height: 24px;
        font-size: 13px;
        padding: 0;
    }

    hr {
        border: 0.5px solid black;
        margin: 2px 0;
    }
}