* {
    box-sizing: border-box;
    user-select: none;
}

main {
    margin-top: 8vh;
    width: 100%;
    padding-left: 5%;
    min-height: min-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.mySlides {
    display: none;
}

.my-slides img {
    width: 100%;
    height: 68vh;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    user-select: none;
    border-radius: 3px;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

h3,
p {
    text-align: center;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* .dots-block {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
} */

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active {
    background-color: #000837;
}

.dot:hover {
    background-color: #717171;
}

.fade {
    animation-name: fade;
    animation-duration: 1.3s;
}

section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
}

.message-box {
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #717171;
    border-radius: 50px;
}

.disappear {
    animation-name: disappearing-message;
    animation-duration: 4s;
}

.buttons-block {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: end;
    gap: 10px;
}

.start-button,
.stop-button,
.reset-button {
    margin-top: 10px;
}

@keyframes fade {
    from {
        opacity: 0.4;
    }

    to {
        opacity: 1;
    }
}

@keyframes disappearing-message {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@media screen and (max-width:768px) {
    .slideshow-container {
        max-width: 500px;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .message-box {
        width: 50%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: #717171;
        border-radius: 50px;
    }

}